
<div class = 'header'>

  <h1>BURGER TIME!</h1>

</div>
<div id = 'container-fluid'>
  <div class = 'row'>
    <div class = 'burgers col-sm'>
      <h2>Burgers I want to devour:</h2>
      <p>
        {{#each burger}}
          {{#unless devoured}}
            <div class = 'listItem'>{{this.burger_name}}
              <button class="devoured-status btn btn-light" data-id="{{id}}" data-newdevoured="{{devoured}}">NOM NOM</button>
            </div>
          {{/unless}}
        {{/each}}
      </p>
    </div>

    <div class = 'burgers col-sm'>
      <h2>Enter burger:</h2>
      <form class="create-form">
        <div class="form-group">
          <label for="burger"Burger name:</label>
          <input type="text" id="burger" name="name">
        </div>
        <button class = 'btn btn-light' type="submit"><i class="fas fa-hamburger"></i> BURGER TIME <i class="fas fa-hamburger"></i></button>
      </form>
    </div>

    <div class = 'burgers col-sm'>
      <h2>Burgers I have devoured:</h2>
      <p>
        {{#each burger}}
          {{#if devoured}}
            <div class = 'listItem'>{{this.burger_name}}
              <button class="delete-burger btn btn-light" data-id="{{this.id}}">DELETE</button>
            </div>
          {{/if}}
        {{/each}}
      </p>
    </div>

  </div>
</div>



