<h1>Burgers!</h1>

<h2>Burgers that I want to devour:</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      <div>{{this.burger_name}}
        <button class="devoured-status" data-id="{{id}}" data-newdevoured="{{devoured}}">
		      {{#if devoured}}yummmm burgers{{else}}nom{{/if}}
	      </button>
      </div>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that I have devoured:</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      <div>{{this.burger_name}}
        <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
      </div>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger to the list!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger"Burger name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">BURGER TIME</button>
</form>



